{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nie znaleziono strony</h1>

    {# example security usage, see below #}
    <p>
        Nie znaleziono strony. Kliknij  <a href="{{ path('index') }}">aby wrócić do strony głównej</a>.
    </p>
{% endblock %}