{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h2>Twój profil</h2>
    <a class="btn btn-default" href="{{ path('fos_user_profile_edit') }}">Edytuj</a>
    <a class="btn btn-default"href="{{ path('fos_user_change_password') }}">Zmień hasło</a>
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
