{% extends 'CashflowBundle::base.html.twig' %}

{% block body %}
    <div class="col-md-4 col-md-offset-4">
        <h2>{{ 'wallets.views.edit.title'|trans }}</h2>
        <div>{{ form_errors(form) }}</div>
        {{ form(form, {'method': 'POST'}) }}
    </div>
{% endblock %}