{% extends 'CashflowBundle::base.html.twig' %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Email</th>
            <th>Rola</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles[0] }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}