<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ 'base.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' '@CashflowBundle/Resources/public/css/*' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css">
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
{% include 'CashflowBundle::navbar.html.twig' %}
<div class="container">
    {% include 'CashflowBundle::flash.html.twig' %}

    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' '@CashflowBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>